
.simonContainer {
    position: relative;
}

.simonContainer div.btn {
    position: absolute;
    border:  2px solid #888;
    border-radius: 50%;
    top: 50%; 
    left: 50%;
    -webkit-transition:width 100ms ease-in-out, height 100ms ease-in-out;
    -webkit-box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
}



div.btn1 {  background-color: #f90606; }
div.btn2 {  background-color: #172ddb; }
div.btn3 {  background-color: #e3df16; }
div.btn4 {  background-color: #2dca0e; }
div.btn5 {  background-color: #d913b7; }
div.btn6 {  background-color: #f5c665; }
div.btn7 {  background-color: #c0bbbb; }
div.btn8 {  background-color: #550ad0; }

.simonContainer div.pushed {
    -webkit-transition:width 100ms ease-in-out, height 100ms ease-in-out;
    -webkit-box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
}

.simonContainer div.round {
    font-size: 5em;
    color:  white;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px #000;
}

.simonContainer #txtRound {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

html {
    height:100%;
}
body {
    min-height: 100%; 
    height: auto !important; 
    background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%);   
}
.main {
    position: relative;
}

.start,.game-over {
    position: absolute;
    top: 100px;
    left:  30%;
}
#game-over-text {
    font-size: 5em;
    letter-spacing: .2em;
    color:  white;
}
#btnStart, #btnRestart {
    margin: 0 30%;
    text-align: center;
    width:  200px;
    border: 1px solid #c4bfbf;
    border-radius: 20px;
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    font-size: 4em;
    color: white;
    text-shadow: 1px #333; 
    padding: 10px 20px;
    cursor: pointer;
}





